:root {
  --blue: #4889f1;
  --white: #eee;
  --light-grey: #ccc;
}

#searchBar {
  margin: 0 auto;
  width: 51%;
  transition: .2s;
}

#searchBar > * {
  position: relative;
  z-index: 50;
}

#searchBar ::placeholder {
  color: #cacaca;
}

input[type='search'] {
  width: 100%;
  padding: 15px 90px 15px 40px;
  font-size: 16px;
  background: url(./icon-search.png) white;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 22px;
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--light-grey);
  transition: all .3s;
}

input[type="search"]:hover {
  box-shadow: 0 1px 4px 0px rgba(0,0,0,.15);
}

input[type='submit'] {
  background: var(--blue);
  border: none;
  color: var(--white);
  padding: 10px 13px;
  font-size: 14px;
  margin-left: -77px;
  border-radius: 2px;
  cursor: pointer;
  transition: all .2s;
}

input[type='submit']:active {
  transform: scale(.95);
}