#App-clock{
    user-select: none;
    color: white;
}

#App-time {
    font-size: 3em;
    margin-bottom: 0em;
}

#App-date{
    font-size: 1em;
    margin-top: 0em;
}

#timeOfDay {
    font-size: 2em;
}