#App-clock{
    user-select: none;
    color: white;
    align-self: end;
    background: radial-gradient(15% 50%, rgba(27, 27, 27, 0.5), transparent);
}

#App-clock > * {
    position: relative;
    z-index: 50; 
}

#App-time {
    font-size: 100px;
    font-weight: 300;  
}

#App-date{
    font-size: 1em;
    margin: 0 auto;
    width: 15%;
}

#timeOfDay {
    font-size: 2em;
    font-weight: 300;
}