.credit {
    color: white;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding:10px;
    position: fixed;
    bottom: 2em;
    right: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: none;
}
.camera {
    color: white;
    position:fixed;
    bottom:0;
    right:0;
}

.camera:hover{
    color:#4889f1;
}

a {
    color: white;
    text-decoration: none;
}